<mat-toolbar color="primary" my-space>
  <mat-toolbar-row>
    <span>MyMaterial</span>

    <span class="example-spacer"></span>
    
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group >
  <mat-tab label="Closed">
    <data-table></data-table>
  </mat-tab>
  <mat-tab label="Cancelled">
    <data-table2></data-table2>
    <p>...hiii</p>
  </mat-tab>
</mat-tab-group>

<button mat-raised-button color="red">Click Me</button>

